DB_URL='ibm_db_sa://<username>:<password>@<host>:<port>/<database>;SECURITY=SSL;SSLServerCertificate=<ssl_cert_path>'
APP_SETTINGS='config.DevelopmentConfig'
FLASK_DEBUG=True
SENDGRID_API_KEY='<sendgrid api key>'
EMAIL_CONFIRMATION_SENDER_EMAIL ='<email>'