#products{
  display: flex;
  flex-wrap: wrap;
}

.product{
  min-width: 400px;
  width: max-content;
  margin: 2rem;
  box-shadow: 3px 2px 7px #00000020;
  border: 2px solid #66666650;
}

.product:hover{
  box-shadow: 3px -2px 10px #00000020;
}

.product-header{
  display: flex;
  justify-content: space-between;
  padding: .8rem 1rem;
  color: #555;
  background-color: #66666630;
  border-bottom: 2px solid #66666650;
}

.product-des{
  padding: 1.2rem 1rem;
}

.action-btn{
  color: inherit;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.action-btn:hover{
  color: var(--accent);
}

.action-btn > *{
  margin:0 .5rem;
}

#add-product-form{
  width: min(90%, 450px);
}

.form-title{
  font-size:1.6rem;
}

.app-submit-btn{
  margin: 1rem 0 0;
}

#add-product-btn{
  width: unset;
  border-radius: .5rem;
}